fastapi==0.110.0
uvicorn[standard]==0.29.0
python-dotenv>=1.0.1
MetaTrader5==5.0.4874            # 公式 Python ラッパー
websockets>=12.0
pydantic>=2.11
pandas>=2.1.3
pydantic-settings>=2.1
requests>=2.31.0
apscheduler>=3.11.0
psutil>=5.9.0